<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FirstSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfbc86">  <td>20/04/22 23:05:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectFirst.loginTesting1()[pri:1, instance:demo.ProjectFirst@56aac163]">loginTesting1</td> 
  <td>main@2011986105</td>   <td></td> </tr>
<tr bgcolor="bfbc86">  <td>20/04/22 23:05:54</td>   <td>19099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectFirst.loginTesting2()[pri:2, instance:demo.ProjectFirst@56aac163]">loginTesting2</td> 
  <td>main@2011986105</td>   <td></td> </tr>
</table>
